{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h1 class="card-title text-center mb-0">Список курсов</h1>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        {% for course in courses %}
                        <a href="{% url 'course_detail' course.id %}" class="list-group-item list-group-item-action">{{ course.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
