{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">{{ course.name }}</h1>
    <p class="lead">{{ course.description }}</p>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Уроки</h2>
      <ul class="list-group">
        {% for lesson in lessons %}
          <li class="list-group-item">
            {% if user.user_type == 'teacher' %}
              <a href="{% url 'evaluate_course' lesson.id %}" class="btn btn-outline-info">{{ lesson.title }}</a>
            {% else %}
              <a href="{% url 'lesson_detail' lesson.id %}" class="btn btn-outline-primary">{{ lesson.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      {% if user.user_type == 'teacher' %}
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Действия для преподавателя</h5>
          </div>
          <div class="card-body">
            <a href="{% url 'create_lesson' course.id %}" class="btn btn-success btn-block mb-2"> Создать новый урок </a>
          </div>
        </div>
      {% endif %}

      {% if user.is_authenticated and is_student %}
        <div class="card mt-4">
          <div class="card-header">
            <h5 class="card-title">Действия для студента</h5>
          </div>
          <div class="card-body">
            <form action="{% url 'complete_course' course.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning btn-block">Завершить курс</button>
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
