{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1 class="my-4">Оценить ответы студентов</h1>

        {% if lesson_id %}
            <h2 class="mb-4">Урок: {{ lesson.title }}</h2>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Студент</th>
                        <th scope="col">Файл ответа</th>
                        <th scope="col">Оценка</th>
                    </tr>
                </thead>
                <tbody>
                    {% for answer in student_answers %}
                        {% if not answer.score %}
                            <tr>
                                <td>{{ answer.student.username }}</td>
                                <td>
                                    <a href="{{ answer.answer_file.url }}" class="btn btn-info btn-sm">Скачать ответ</a>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'evaluate_answer' answer.id %}">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input type="number" name="score" min="0" max="{{ course.max_score }}" class="form-control" aria-label="Оценка" {% if answer.score %} value="{{ answer.score }}" {% endif %}>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-success">Отправить оценку</button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if not student_answers %}
            <p class="text-muted">Для данного курса или урока не найдено ответов студентов.</p>
        {% endif %}
    </div>
</body>
{% endblock %}
