{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Популярные курсы</h1>
    <div class="row">
        {% for course in popular_courses %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">Перейти к курсу</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
