{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ lesson.course.name }} - {{ lesson.title }}</h1>

    {% if lesson.video %}
    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls>
            <source src="{{ lesson.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    {% endif %}

    <p>{{ lesson.material }}</p>

    {% if request.user.is_authenticated %}
    {% if not student_answer %}
    <form method="post" action="{% url 'submit_answer' lesson_id=lesson.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="answer_file">Ваш ответ:</label>
            <input type="file" class="form-control-file" id="answer_file" name="answer_file" required>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    {% else %}

    {% endif %}
    {% endif %}
</div>
{% endblock %}
