{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ lesson.course.name }} - {{ lesson.title }}</h1>
      <p>{{ lesson.material }}</p>
      {% if lesson.video %}
      <div class="embed-responsive embed-responsive-16by9 mb-4">
        <video class="embed-responsive-item" controls>
          <source src="{{ lesson.video.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      {% endif %}
      {% if request.user.is_authenticated %}
        {% if not student_answer and request.user in lesson.course.students.all %}
          <form method="post" action="{% url 'submit_answer' lesson_id=lesson.id %}" enctype="multipart/form-data" class="row g-3">
            {% csrf_token %}
            <div class="col-md-8">
              <label for="answer_file" class="form-label">Ваш ответ:</label>
              <input type="file" class="form-control" id="answer_file" name="answer_file" required>
            </div>
            <div class="col-md-4 align-self-end">
              <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
          </form>
        {% else %}
          <div class="alert alert-danger" role="alert">
            <p>Вы не проходите этот курс и не можете загрузить ответы.</p>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
