{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Рейтинг студентов</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Место</th>
                        <th>Имя пользователя</th>
                        <th>Количество баллов</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in top_students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ student.student.username }}</td>
                        <td>{{ student.score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
