{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card mt-5 shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h1 class="mb-0">Личный кабинет</h1>
                </div>
                <div class="card-body">
                    <p class="lead">Привет, <strong>{{ user.username }}</strong>!</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Имя:</strong> {{ user.first_name }} {{ user.last_name }}
                        </li>
                        <li class="list-group-item">
                            <strong>Email:</strong> {{ user.email }}
                        </li>
                        {% if user.user_type == 'student' %}
                            <li class="list-group-item">
                                <strong>Образовательная организация:</strong> {{ user.organization }}
                            </li>
                            <li class="list-group-item">
                                <strong>Тип пользователя:</strong> Ученик
                            </li>
                        {% elif user.user_type == 'teacher' %}
                            <li class="list-group-item">
                                <strong>Образовательная организация:</strong> {{ user.organization }}
                            </li>
                            <li class="list-group-item">
                                <strong>Тип пользователя:</strong> Преподаватель
                            </li>
                            <li class="list-group-item">
                                <strong>Мои курсы:</strong>
                                <ul class="list-group">
                                    {% for course in user.courses_taught.all %}
                                        <li class="list-group-item">
                                            <a href="{% url 'course_detail' course.id %}" class="text-decoration-none">{{ course.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <strong>Тип пользователя:</strong> Админ
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
